html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.row.toolbar {
    background-color: #EEE;
    padding: 0.2em 0;
    margin-bottom: 1em;
}

form div.row {
    min-height: 40px;
}

div.leveler {
    background-color: #000;
    height: 0.8em;
    padding: 0.1em 0em;
    display: inline-block;
}